<% content_for :title do %>Neo4j Community Statistics<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="stack_overflow" data-view="Number" data-title="Stack Overflow" data-moreinfo="neo4j questions"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="github" data-view="Number" data-title="Github" data-moreinfo="neo4j repositories"></div>
    </li>

  </ul>
</div>

